header {
    background: $gris_oscuro;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.cont-header {
    text-align: center;
    width: 100%
}

.cont-h {
    color: white;
    h1, h2 {
        font-weight: normal;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 1.5em;
    }
}

.cont-social {
    display: flex;
    margin: auto;
    padding-top: 2em;
    width: 20em;
    justify-content: space-around;
    a {
        color: $turquesa;
        font-size: 2em;
        text-decoration: none;
    }
}
