nav {
    background: $gris_oscuro;
    position: fixed;
    width: 100%;
    top: 0;
}

.cont-menu {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    line-height: 3em;
    width: 320px;
    a {
        color: $verde_azul;
        text-decoration: none;
    }
}
