$rojo: #ed3951;
$gris_oscuro: #50515c;
$turquesa: #00e1e8;
$verde_azul: #00b8ba;
$gris_claro: #aab5b3;
$verde_claro: #80a482;
$rojo_gris: #bda4a7;
$verde_medio: #537167;
$verde_oscuro: #15261c;
$beige: #dad3c3;
