@import "normalize.styl"
azul = #00BEFF
gris = #F9F9F9
letra = #333333

a
	text-decoration none

body
	background gris
	font-size 16px

header
	background azul
	color white
	font-family 'Caviar Dreams'
	//height 4em

h1
	margin 0px
	padding-left 1em

h2
	font-size 1em
	margin 0px
	padding-left 2em

footer
	color azul
	text-align center
	font-size 0.7em

.logo
	margin 0px
	right 0.1em
	position absolute
	top 0em

.menu
	background white
	color black
	height 2.2em
	list-style none
	margin 0px
	padding 0px
	width 100%

.item
	display inline-block
	cursor pointer
	padding-top 0.4em
	text-align center
	width 48%
.item a
	color letra

.item a:hover
	color azul

.social
	border-bottom 1px solid azul
	list-style none

.item-social
	display inline-block

.ico-social
	margin 0.4em

.texto
	color letra
	margin 0.2em

.campo-form
	border 1px solid white
	font-family 'Caviar Dreams'
	height 3em
	text-align center
	width 100%
	&:nth-child(even)
		border-top 1px solid white

.mensaje
	border none
	border-top 1px solid gris
	font-family 'Caviar Dreams'
	width 99%

.btn-enviar
	background azul
	border solid 1px #6666FF
	color white
	font-size 1.3em
	height 2.5em
	width 100%

.imgs
	display inline-block

.formulario
	display none

.contacto
	background azul
	color white
	padding-bottom 1em
	padding-top 0.2em
	text-align center

.contacto a
	color #3333AA
	font-family monospace

.cel
	color green
	font-family monospace

@media screen and (min-width:525px)

	header
		height 6em

	h1
		padding 0.5em

@media screen and (min-width:1000px)
	header
		height 8em

	h1
		padding 1em

	.menu
		display none