@import "nib"
@import "normalize.styl"
@import "cargando.styl"
@import "fonts.styl"
@import "fonts2.styl"

boton = #2c8484
cafe_hover = #946f51
boton_cafe = #dd8c49
negro = #333
blanco = #FAFAFA
naranja_head = #dd8c49
naranja_id = #f6921e
verde_fondo_oscuro = #084747
verder_fondo_claro = #9bd5d5
cafe = #773d0d
link_verde = #31595f
link_cafe = #946f51