@import "normalize.styl"
azul = rgb(0, 72, 114)
gris = #F0F0FF
otro_cafe = rgb(20, 43, 75)
azul_marino = rgb(34, 35, 35)
letra = #333333
barra = #dde1e6
ventana = #333333
user = #55FF55

@-webkit-keyframes parpadeo


	0%
		opacity 1.0
	50%
		opacity 0.0
	100%
		opacity 1.0

.promp
	-webkit-animation-name parpadeo
	-webkit-animation-duration: 1s
	-webkit-animation-timing-function linear
	-webkit-animation-iteration-count infinite

a
	color white
	text-decoration none

body
	//background url('../images/codigo_3.png') //3
	//background gris
	font-size 16px

header
	background gris
	height 2em
	margin 0px
	position fixed
	top 0px
	width 100%

nav ul
	margin 0px

.inline
	display inline-block

.icono-menu
	margin 0.51em
	position absolute
	top 0.5em

.item
	display inline-block
	cursor pointer
	font-size 1em
	padding-top 0.5em
	padding-right 1em
.item a
	color gris

.item a:hover
	color white

.social
	list-style none
	margin 0
	float right

.item-social
	display inline-block

.terminal
	height 20em
	margin-left 2em
	margin-top 12em
	width 45em

.barra-titulo
	background barra
	height 2em
	width 100%

.ventana-terminal
	background ventana
	font-family "source code pro"
	padding 0.5em
	width 44em

.btn-m
	border-radius 0.6em
	display inline-block
	height 1em
	float right
	margin-top 0.5em
	margin-right 0.5em
	width 1em

.red
	background red

.green
	background green

.username
	color user
	font-weight bold

.dir
	color red

.command
	color white
	font-weight bold

.texto
	color white

.contacto
	height 30em
	width 60em
	float right
	margin-right 10em

.ventana-contacto
	color white
	background azul
	font-family "monaco"
	width 60em

.numeros
	color gray
	list-style none
	margin 0px
	padding 0.2em
	width 1.2em

.ul-contacto
	list-style none
	margin 0px
	padding 0px
	width 90%
	ul
		list-style none


.subl
	display inline-block
//@media screen and (min-width:1000px)