fuente = 2em //para 6em
bordo = 2em
bordo-b-l = 1em


.globo
  background orange
  border-radius 50%
  color white
  height 100%
  position relative
  text-align center
  width 100%

.globo
  &:before
    border bordo solid transparent
    border-bottom bordo-b-l solid orange
    border-left bordo-b-l solid orange
    content ''
    height 0
    transform rotate(0deg)
    position absolute
    width 0
    bottom 0em
    left 0%

.globo
  &:after
    color white
    content 'Yo'
    font-family 'monaco','consolas', 'monospace'
    font-size fuente
    position relative
    top 20%
