.cont-porta
    width 18em
    height 15em
    margin 0 auto

.mango-porta
    background rgba(255,255,255,0)
    border 1em solid #DD8877
    border-bottom 0em
    height 1.8em
    margin 0 auto
    width 5.5em

.porta
    background #DD8877
    height 10em
    width 18em

.cont-ojos
    margin 0 auto
    padding-top 3em
    width 60%
    min-height 2em

.ojo
    background black
    border-radius 2em
    display inline-block
    height 1.5em
    width 1.5em
    &:nth-child(even)
                margin-left 6em

.boca
    background black
    border-radius 1em
    height 1em
    margin 0 auto
    margin-top 1em
    width 11em
