#android.android
    .cont-android
    
        .img-android
            span.icon-android
        
        .texto-android
            p Desarrollo de aplicaciones <strong>Android</strong> nativas
            
