section.card
    .yo
        img(src="https://scontent.fjal1-1.fna.fbcdn.net/v/t1.0-9/11257229_10204037810200993_4989617737538837148_n.jpg?oh=17c4db33cd0009997bc4999887698668&oe=5998EA04", alt="Marco Antonio Vazquez Alonso", title="Marco Antonio Vazquez Alonso")
    header
        h1 Marco Antonio Vazquez Alonso
        h2 Android & Web [PHP] Developer    
        
    aside
        .social
            .social-link 
                a(href="https://twitter.com/mmmarc0").icon-twitter-circled
            .social-link 
                a(href="mailto:mrc_ant_18@hotmail.com").icon-email-envelope
            .social-link 
                a(href="#").icon-fontawesome-webfont
    article
        .techs
            .cont-tech
                .tech
                    span.icon-android.iconos
                    p Desarrollo de aplicaciones Android nativas
            .cont-tech
                .tech
                    span.icon-web.iconos
                    p Desarrollo Web en PHP, Desarrollo de APIs.
            .cont-tech
                .tech 
                    span.iconos
                    p Otras cositas
