#contacto.contacto
    .cont-contacto
        h3 Contacto
        .twitter
            a(href="https://twiiter.com/mmmarc0", class="icon-twitter-circled")
        .email
            a(herf="mailto:mrc_ant_18@hotmail.com", class="icon-at-sign")
