.cont-header
    nav
        .cont-menu
            a(href="#web") Web
            a(href="#android") Android
            a(href="#contacto") Contacto
            
    .cont-h
        h1 Marco Antonio
        h2 Desarrollador Web y Android
        
    .cont-social
        a(href="#", class="icon-twitter-circled")
        a(href="#", class="icon-codepen") 
        a(href="", class="icon-fontawesome-webfont")
        
    
