.cont-header
    nav
        .cont-menu
            a(href="#web") Web
            a(href="#android") Android
            a(href="#contacto") Contacto
            
    .cont-h
        h1 Marco Antonio
        h2 Desarrollador Web y Android
        
    .cont-social
        a(href="https://twitter.com/mmmarc0", class="icon-twitter-circled")
        a(href="http://codepen.io/mrcant/", class="icon-codepen") 
        a(href="https://github.com/marcoavazquez", class="icon-fontawesome-webfont")
        
    
