#web.web
    .cont-web
        .texto-web
            p. 
                Desarrollo de aplicaciones y sitios web <strong>WordPress</strong>, 
                <strong>PHP</strong> o <strong>Django</strong>.
                
        .img-web
            span.icon-wordpress
            span.icon-web
