.content{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 500px;
  height: 500px;
}

.ideatics{
  -webkit-animation: rodar 1s infinite linear;
  -moz-animation: rodar 1s infinite linear;
  -ms-animation: rodar 1s infinite linear;
  -o-animation: rodar 1s infinite linear;
  animation: rodar 1s infinite linear;
  background: orange;
  border-radius: 50%;
  color: white;
  height:400px;
  position: relative;
  width: 400px;
}
.ideatics:before{
  border: 8.5em solid transparent;
  border-bottom: 4em solid orange;
  border-right: 4em solid orange;
  content:'';
  height: 0;
  transform: rotate(0deg);
  position: absolute;
  width: 0;

  bottom: 0em;
  left: 50%;
}

.foco{
  -webkit-animation: rodar 1s infinite alternate;
  -moz-animation: rodar 1s infinite alternate;
  -ms-animation: rodar 1s infinite alternate;
  -o-animation: rodar 1s infinite alternate;
  animation: rodar 1s infinite alternate;
  background: white;
  border-radius: 50%;
  height: 40%;
  margin: 0px auto;
  position: relative;
  top: 20%;
  width: 40%;
}
.foco:after{
  border: 2em solid transparent;
  border-radius: 0% 100%;
  content: '';
  box-shadow: 4px -4px 2px orange;
  height: 0em;
  position: absolute;
  width: 0em;

  top: 13%;
  left: 46%;
}
.foco:before{
  border: 2em solid transparent;
  border-top: 4em solid white;
  content: '';
  position: absolute;
  height: 0em;
  width: 3em;
  bottom: -4em;
  left: 1.5em;
}
.socket{
  border-radius: 30%;
  background: white;
  width: 3.5em;
  height: 0.8em;
  position: absolute;
  bottom: 19%;
  left: 10.9em;
}
.socket:before{
  border-radius: 30%;
  background: white;
  content: '';
  width: 3.5em;
  height: 0.8em;
  position: absolute;
  bottom: 1em;

}
.socket:after{
  border-radius: 30%;
  background: white;
  content: '';
  width: 2.5em;
  height: 0.8em;
  position: absolute;
  bottom: -1em;
  left: 0.5em;
}
@keyframes rodar
@-ms-keyframes rodar
@-o-keyframes rodar
@-moz-keyframes rodar
@-webkit-keyframes rodar {
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg)
  }
}