*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
}

body {
    background: linear-gradient(200deg, #6C6E6A, #1A1109);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--dark);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    // padding-top: calc(50vh - 21.35em);
    padding-top: 25vh;

    @media screen and (min-width:1056px) {
        padding-left: 0;
        padding-right: 0;
    }   

    @media print {
        padding: 0;
        background: white;
        font-size: 12px;
    }
}

h1 {
    font-weight: 600;
    font-size: 2.4em;
}

h2 {
    font-size: 1.6em;
    font-weight: 600;
}

h3 {
    font-size: 1.4em;
    font-weight: 500;
}

@media print {
    h1 { font-size: 1.8em; }
    h2 { font-size: 1.4em; }
    h3 { font-size: 1.2em; }
}

a {
    text-decoration: none;
    color: var(--dark);
    opacity: 0.9;
    &:hover {
        text-decoration: underline;
    }
}