*, *::before, *::after {
    box-sizing: border-box;
    transition: all 0.2s;
}

body {
    background-image: linear-gradient(to bottom, #123, #012);
    color: #000;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    line-height: 1.45;
    display: grid;
    place-items: center;


    @media screen and (min-width:1056px) {
        padding-left: 0;
        padding-right: 0;
    }   

    @media print {
        padding: 0;
        background: white;
        font-size: 12px;
        display: block;
    }
}

h1 {
    font-weight: 600;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

@media print {
    h1 { font-size: 1.8em; }
    h2 { font-size: 1.4em; }
    h3 { font-size: 1.2em; }
}

a {
    text-decoration: none;
    color: var(--dark);
    opacity: 0.9;
}