@media print {
    .page-break {
        page-break-after: always;
    }
}


.wrapper {
    margin: 0 auto;
    //opacity: 0.1;
    background: white;
    border-radius: 0.1em;
    box-shadow: 0 0.1em 0.25em rgba(0,0,0,0.6);
    
    overflow: hidden;
    max-width: 64em;

    @media print {
        box-shadow: none;
    }
}

.content {
    background: $content_bg;
    @media screen and (min-width: 920px) {
        display: flex;
    }
    @media print {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        background: white;
    }
}

.knowledges {
    //background: $know_bg;
    color: $dark_color;
    border-right: 1px solid darken($know_bg, 5);
    /*box-shadow: 0 0 15em rgba(90,90,90,0.1) inset*/;
    @media screen and (min-width: 920px) {
        width: 33.3%;
    }
    @media print {
        width: 100%;
        box-shadow: none;
        border: none;
    }
}

.knowledge {
    border-bottom: 1px solid darken($know_bg, 5);
    padding: 1em;
    line-height: 1.8em;

    &-title {
        display: flex;
        padding: 1em 0;
    }
}

.skills {
    @media print {
        display: flex;
        flex-wrap: wrap;
    }
}

.skill {
    padding-bottom: 1em;

    @media print {
        width: 33.3%;
        padding: 0 1em;
    }

    &-desc {
        padding-bottom: 0.5em;
    }
    &-value {
        background:  darken($know_bg, 10);
        height: 0.5em;
        border-radius: 3px;

        &:after {
            content: '';
            display: block;
            position: relative;
            top: 0;
            left:0;
            background: $dark_color;
            border-radius: 3px;
            height: 100%;
        }

        &-10:after { width: 10%; }
        &-15:after { width: 15%; }
        &-25:after { width: 25%; }
        &-33:after { width: 33%; }
        &-50:after { width: 50%; }
        &-66:after { width: 66%; }
        &-75:after { width: 75%; }
        &-80:after { width: 80%; }
    }
}

.resume {
    color: $dark_color;
    padding: 0 1em;
    @media screen and (min-width: 920px) {
        width: 66.6%;
    }
    @media print {
        width: 100%;
        padding-top: 0;
    }

    &-item {
        padding: 1em 0;
        border-bottom: 3px double $dark_color;
    }

    &-item-title, .xp {
        padding: 0.5em 0;
        @media screen and (min-width:920px) {
            display: flex;
            
        }
        @media print {
            padding-top: 0;
        }
    }
    //&-item-title {
        //font-size: 1.2em;
    //}

    .xp {
        padding: 0.75em 0;
        @media print {
            display: flex;
        }
    }
 
    .xp-place {
        padding-right: 1em;
        @media screen and (min-width:920px) {   
            width: 33.3%;
            text-align: right;
        }
        @media print {
            text-align: right;            
            width: 33.3%;
        }
        &-desc {
            font-weight: 600;
        }
        &-date {
            padding: 1em 0;
            font-size: 0.8em;
            color: lighten($dark_color, 20)
        }
    }
    
    .xp-cont {
        width: 100%;
        @media print {
            widows: 66.6%;
            
            padding: 0 1em;
        }
    }

    .xp-desc {
        padding-left: 1em;
        line-height: 1.8em;
        li {
            padding-bottom: 0.5em;
        }
    }
}

.project {
    padding: 1em 0;
    
    &-image {
        img {
            width: 100%;
        }
    }
    &-description {
        padding: 0 0 1em 0;
    }

    @media screen and (min-width:920px) {
        &-item {
            display: flex;
        }

        &-text {
            width: 66.6%;
        }
        &-image {
            width: 33.3%;
        }
    }


    
}

.portfolio {
    @media print {
        display: none;
    }
}