.wrapper {
    margin: 0 auto;
    //opacity: 0.1;
    max-width: 64em;

    border-radius: 0.1em;
    box-shadow: 0 0.1em 0.5em rgba(0,0,0,0.3);

    overflow: hidden;
}

.content {
    @media screen and (min-width: 640px) {
        display: flex;
    }
    background: $content_bg;
}

.knowledges {
    background: $know_bg;
    color: $light_color;
    box-shadow: 0.1em 0 0.1em rgba(0,0,0,0.1);
    @media screen and (min-width: 640px) {
        width: 33.3%;
    }
}

.knowledge {
    border-bottom: 1px solid darken($know_bg, 5);
    padding: 2em;
    line-height: 1.5em;

    &-title {
        display: flex;
        padding: 1em 0;
    }
    
    &-desc {
        @media screen and (min-width:920px) {
            padding: 0 0 0 3em;
        }
    }

    .icon-title {
        display: inline-block;
        font-size: 1.5em;
        width: 3rem;
    }
}

.skill {
    padding-bottom: 1em;
    &-desc {
        padding-bottom: 0.5em;
    }
    &-value {
        background:  darken($know_bg, 10);
        height: 0.5em;
        border-radius: 3px;

        &:after {
            content: '';
            display: block;
            position: relative;
            top: 0;
            left:0;
            background: $light_color;
            border-radius: 3px;
            height: 100%;
        }

        &-10:after { width: 10%; }
        &-25:after { width: 25%; }
        &-50:after { width: 50%; }
        &-75:after { width: 75%; }
    }
}


.resume {
    color: $dark_color;
    padding: 1em 2em;
    @media screen and (min-width: 640px) {
        width: 66.6%;
    }

    &-item {
        padding: 1em 0;
        border-bottom: 1px solid darken($content_bg, 20);
    }

    &-item-title, .xp {
        @media screen and (min-width:920px) {
            display: flex;
            
        }
        padding: 1em 0;
    }
    &-item-title {
        font-size: 1.2em;
    }
 
    .xp-place {
        padding-right: 1em;
        @media screen and (min-width:920px) {
            
            width: 33.3%;
        }
        &-desc {
            font-weight: 600;
        }
        &-date {
            padding: 1em 0;
            font-size: 0.8em;
            color: lighten($dark_color, 20)
        }
    }
    
    .xp-cont {
        width: 100%;
    }

    .xp-desc {
        padding-left: 1em;
        line-height: 1.5em;
        li {
            padding-bottom: 0.5em;
        }
    }
}

.project {

    border-bottom: 1px solid $dark_color;

    &-media {
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        height: 8em;
        img {
            display: block;
            cursor: pointer;
            width: auto;
            max-width: 33.3%;
            height: 100%;
        }
    }
}