.icon, .icon-title {
    display: inline-block;
    padding: 0 0.5em 0 0;
    line-height: 1em;

    &:before {
        position: relative;
        top: 0.2em;
    }
}

.icon-title {
    width: 3rem;
    @media print {
        width: auto;
        padding: 2em 0.5em 1em 0;
    }
}

.card {
    border-radius: 0.2em;
    border-left: 1px solid var(--gray);
    padding: 0.5em 1em;

    &-title {
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 1em;
    }
    @media print {
        box-shadow: none;
        border: none;
        border-left: 1px solid var(--gray);
    }
}
