.header__content {
    background: $header_bg;
    background-size: 100% 100%;
    color: $dark_color;
    border-bottom: 1px solid #ccc;
    text-align: center;
    
    .avatar {
        display: block;
        overflow: hidden;
        padding: 2em 0 0 0;
        img {
            box-shadow: 0 0 0.5em rgba(0,0,0,0.3);
            display: block;
            margin: 0 auto;
            width: 12em;
            border-radius: 50%;
            border: 0.3em solid white;
        }
    }
    @media screen and (min-width:920px) {
        display: flex;
        text-align: left;
        .avatar {     
            padding: 2em;
            //background: $light_color;
            width: 33.3%;
            display: flex;
            img {
                align-self: center;
                width: 100%;
                height: auto;
            }
        }
        .header-desc {
            width: 66.6%;
        }
    }
    
    @media print {
        display: flex;
        background: white;
        box-shadow: none;
        animation: none;
        color: #666;
        text-align: left;
        .avatar {     
            width: 30%;
            padding: 2em;
            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
        }
        .header-desc {
            width: 70%;
        }
    }


    .header{
        &-desc {
            padding: 2em;
            line-height: 2.5em;
        }
        &-contact {
            line-height: 2em;
            padding-top:1.5em;
        }
        &-title {
            h1 {
                padding-bottom: 1rem;
            }
        }
    }

    a {
        color: $dark_color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }

        @media print {
            color: #666;
        }
    }
}