$body_bg : linear-gradient(135deg, rgba(#00B0FF, 0.2), rgba(#FF3D00, 0.1) ),
           linear-gradient(0deg,  rgba(#00B0FF, 0.2) , rgba(#FF3D00, 0.1) ) ;

$header_bg: #00B0FF;

$content_bg: #F0F0F0;

$know_bg: #DADADA;

$title_color: #00A0B0;

$card_bg: white;

$dark_color: #666;
$light_color: #FAFAFA;