$header_bg: rgba(#d0d5d8, 1);
$main_card_bg: rgb(49, 69, 80);
$footer_card_bg: #c7d3dc;
$section1_bg: rgba(#a3acb1, 1);

$main_text_color: #c7d3dd;

$card_skills_bg: #FFFFFF;
$card_skills_title_color: #333333;
$card_skill_text_color: #666666;

$header2_bg: #1b263b;
$header_color: #FFFFFF;

$section2_bg: #c7d3dd;

$card_projects_bg: #FFFFFF;
$card_projects_title_color: #333333;
$card_projects_text_color: #666666;