$body_bg : linear-gradient(180deg, transparent 50vh,#eee 50vh  ),
linear-gradient(180deg, rgba(#1867c0, 0.9), rgba(#5bb9f5, 0.9)),
//url('https://wallpapercave.com/wp/vueGjUL.jpg');
url('https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/26409383129_e3cd90c941_o.jpg');

$header_bg: transparent;

$content_bg: #FEFEFE;

$know_bg: #DADADA;

$card_bg: white;

$dark_color: #345;
$light_color: #ccc;